.ui-querylist .ms-FocusZone {
  padding-top: 0px !important;
}
.ui-querylist .ms-DetailsList-headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ui-querylist .ms-DetailsHeader {
  border-top: 1px solid rgb(237, 235, 233);
}
.ui-querylist .ms-DetailsList,
.ui-querylist .ms-DetailsList-contentWrapper,
.ui-querylist .ms-DetailsList > div {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  position: relative;
}
.ui-querylist > div > .ms-Viewport {
  flex: 1;
  display: flex;
}
.ui-querylist .ms-DetailsList > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  min-width: auto;
  overflow: auto;
  padding-top: 45px;
}
.ui-querylist-filter {
  margin-bottom: 5px;
}
.ui-querylist-filter > .picker > .ms-Button {
  padding: 0px 5px;
  min-width: 0px;
  margin-right: 10px;
  height: 30px;
  overflow:hidden;
  border-color: #ddd;
}
.ui-querylist .filter-item > .ms-Button {
  padding: 0px 10px;
  min-width: 0px;
  margin-right: 10px;
  height: 30px;
  overflow:hidden;
  border-color: #ddd;
}

.ui-querylist .ms-DetailsHeader-cellSizer {
  cursor: ew-resize !important;
}

.ui-querylist-custom > .ms-Button {
  padding: 0px 5px;
  font-size: 14px;
  margin: 0px;
  min-width: 0px;
  height: 25px;
  overflow:hidden;
  border: 0px;
}

.ui-querylist .ms-DetailsRow-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
