@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  width:100%;
  display: flex;
  flex-direction: column;
}
